*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: 30px;
    background: rgb(153, 153, 153);
}
.menu{}
.menu ul{
    background: #0652DD;
    text-align: center;
}
.menu ul li{
    display: inline-block;
    position: relative;
    margin-left: -4px;
    position: relative;
}
.menu ul li a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 30px;
    color: #fff;
    border-left: 1px solid #fff;
    transition: .5s;
}
.menu ul li:last-child{
    border-right: 1px solid #fff;
}
.menu ul li:hover >a{
    background: #1B1464;
}

/* drop down menu 01 */
.menu ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    border-top: 1px solid #fff;
    transform: scaleY(0);
    transform-origin: top center;
    transition: .5s;
}
.menu ul li ul li{
    display: block;
    margin: 0;
}
.menu ul li ul li a{
    display: block;
    border: none;
    border-bottom: 1px solid #fff;
}
.menu ul li ul li:last-child{
    border: none;
}
.menu ul li:hover >ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.menu ul li ul li ul{
    left: 100%;
    top: 0;
}
